[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bahc"]
	path = bahc
	url = https://github.com/cran/bahc
	shallow = true
	registered = true
[submodule "sharpeRratio"]
	path = sharpeRratio
	url = https://github.com/cran/sharpeRratio
	shallow = true
	registered = true
[submodule "SVN"]
	path = SVN
	url = https://github.com/cran/SVN
	shallow = true
	registered = true
